<html>
    <head>
        <script src="css/source-sans-pro.js"></script> <!-- Adobe edge web font(Free distribution) -->
        <meta name="viewport" content="width=device-width;initial-scale=1.0, maximum-scale=1.0">
        <link href="css/style.css" rel="stylesheet">
        <script src="lib/jquery.js"></script>
        <script src="lib/handlebars.js"></script>
        <script src="js/util/script.js"></script>
    </head>
    <body>
        <script type="text/x-handlebars-template" id="login-tpl">
            <div class="ui-screen" >            
            <div id="loginScreen" >
            <div></div>
            <!--logo div end-->
            <!--form-->  
            <div>
            <table cellspacing="0" cellpadding="0">
            <tr>
            <td>
            <p>Username:</p>
            </td>
            <td>
            <input type="text" value="" id="user-name">
            </td>
            </tr>
            <tr>
            <td>
            <p>Password:</p>
            </td>
            <td>
            <input type="password" value="" id="password">
            </td>
            </tr>
            </table>
            </div>                
            <div>
            <div><input type="submit" value="Login" onclick="location.href='#Login'"/></div>
            </div>
            </div>
            </div>
        </script>

        <script id="notifications-tpl" type="text/x-handlebars-template">
            <div class="ui-screen">
            {{> headerdescription}}
            <div id='content-notify'> 
            <div>
            <ul>
            {{#with requisition}}
            <li>
            <a href="#Not/rqstns"><div>
            <div>{{this.count}}</div>
            <div>Requisition</div>
            </div></a>
            </li>   
            {{/with}}
            {{#with expenseApproval}}
            <li>
            <a href="#Not/xpnsap"><div>
            <div>{{this.count}}</div>
            <div>Expense Approval</div>
            </div></a>
            </li>   
            {{/with}}
            {{#with pblnvc}}
            <li>
            <a href="#Not/payInvoice"><div>
            <div>{{this.count}}</div>
            <div>Payable Invoice</div>
            </div></a>
            </li>   
            {{/with}}
            {{#with purchaseOrder}}
            <li>
            <a href="#Not/prchrd"><div>
            <div>{{this.count}}</div>
            <div>Purchase Order</div>
            </div></a>
            </li>   
            {{/with}}
            </ul>
            </div>
            </div>

            </div>
        </script>

        <script id="header-list-tpl" type="text/x-handlebars-template">
            <div class="ui-screen" id="screen" > 
            {{> headerdescription}}            
            <!--content start-->
            <div id='header-list'>                
            <div>                    
            <ul>         
            {{#each result}}
            <li>
            <a href="#Detail{{this.mod}}/{{this.hid}}-{{this.num}}" >
            <table cellpadding="0" cellspacing="0" >
            <tr>
            <td>
            <table cellpadding="0" cellspacing="0" >
            <tr>
            <td><span>PR:{{this.id}} </span><span>( {{this.name}} )</span></td>                                                                                                            
            </tr>
            <tr>
            <td>
            <span>{{this.subject}}</span>
            </td>                                                                                                            
            </tr>
            </table>
            </td>
            <td>           
            <div><img src="img/arrow.png" /></div>
            <ul>
            <li>{{this.date}}</li>
            <li>${{this.amount}}.00</li>                                        
            <li class={{color}} >{{this.status}}</li>
            </ul>
            </td>
            </tr>                                
            </table>                            
            </a>                    
            </li>
            {{/each}}
            </ul>
            </div> 
            </div>
            <!--content end-->

            </div>
        </script>


        <script id="header-details-tpl" type="text/x-handlebars-template">
            <div class="ui-screen" id="users-list"> 
            {{> headerdescription}}
            {{> ActionAlert}}
            <!--content start-->         
            {{#with result}}
            <div id="header-details" >
            <div>
            <p>Margerette Miller</p>
            <p>$100000.00{{#with head}}<span>{{this.Currency}}</span>{{/with}}</p>
            </div>
            <div>{{#with head}}<span>{{this.segment1}}</span>{{/with}}<span>1 day ago</span></div>
            <div id="ui-tabs">
            <ul>                    
            <li onclick="tab(this)" >I</li>    
            <li onclick="tab(this)" >D</li>
            <li onclick="tab(this)" >A</li>
            <li onclick="tab(this)" >H</li>                    
            </ul>         
            <div><a onclick="showAlert('AttachmentAlert');" ><img src="img/attachment-icon.png"></a></div>
            </div>
            <div id="ui-tab-content">
            <div class="details show" id="list-items" >
            <div>
            <table cellspacing="0" cellpadding="0" >
            <tr>
            <td><span>Line</span></td>
            <td><span>Quantity</span></td>
            <td><span>Price</span></td>
            <td><span>Amount</span></td>
            </tr>
            </table>
            </div>
            <ul>
            {{#each line}}
            <li>                            
            <table cellspacing="0" cellpadding="0" onclick="toggle(this)" >
            <tr>
            <td><span>{{this.LineNum}}</span></td>
            <td><span>{{this.Quantity}}</span></td>
            <td><span>${{this.Price}}.00</span></td>
            <td><span>$10000.00</span></td>
            </tr>
            </table> 
            <div class="sliding-effect" >
            <ul>            
            <li>
            <span>Description:</span>
            <span>{{this.comments}}</span>
            </li>                                                                                                                                                       
            <li>
            <span>UOM:</span>
            <span>{{this.UOM}}</span>
            </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
            <li>
            <span>Item Number:</span>
            <span>{{this.Item}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Item Revision:</span>
            <span>{{this.ItemRevision}}</span>
            </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
            </ul>
            </div>
            </li>   
            {{/each}}
            </ul>
            </div>            
            <div class="details" id="information" >
            <div>
            <ul>
            {{#with head}}
            <li>
            <span>Description:</span>
            <span>{{this.description}}</span>
            </li>
            <li>
            <span>Operating Unit:</span>
            <span>204</span>
            </li>                                                                                                                                                       
            <li>
            <span>Created Date:</span>
            <span>{{this.creation_date_disp}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>PO Number:</span>
            <span>{{this.segment1}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Type:</span>
            <span>{{this.doc_type_name}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Supplier:</span>
            <span>{{this.vendor_name}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Site:</span>
            <span>{{this.vendor_site_code}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Ship to:</span>
            <span>{{this.ship_to_location}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Bill to:</span>
            <span>{{this.bill_to_location}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Buyer:</span>
            <span>{{this.agent_name}}</span>
            </li>                                                                                                                                                                                                                                                                                                              
            <li>
            <span>Status:</span>
            <span>{{this.status}}</span>
            </li>    
            {{/with}}
            </ul>
            </div>
            </div>          
            {{#with dist}}
            <div class="details" id="distributions" >
            <div>
            <ul>
            <li>
            <span>Distribution No.</span>
            <span>{{this.distribution_num}}</span>
            </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
            <li>
            <span>Destination account:</span>
            <span>{{this.charge_account}}</span>
            </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
            </ul>
            </div>
            </div> 
            {{/with}}
            {{#each hist}}
            <div class="details" id="history" >
            <div>
            <ul>
            <li>
            <table cellpadding="0" cellspacing="0"  >
            <tr>
            <td>{{this.type}}</td>
            <td>{{this.org_id}}</td>
            <td>{{this.sub_type}}</td>
            </tr>
            <tr>
            <td>{{this.action_on}}</td>
            <td>{{this.action_code}}</td>
            <td>{{this.user_name}}</td>
            </tr>
            </table>
            </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
            </ul>
            </div>
            </div> 
            {{/each}}
            </div>
            </div>
            {{/with}}
            <!--content end-->
            <!--footer start-->            
            {{>ActionFooter}}
            </div>            
        </script>        


        <script id='action-tpl' type="text/x-handlebars-template"> 
            <div id="popup-bckgrnd" >
            <div id="ApproveAlert" >
            {{> ApproveAlert}} 
            </div>
            <div id="ForwardAlert" >
            {{> ForwardAlert}}               
            </div>
            <div id="RejectAlert" >
            {{> RejectAlert}}               
            </div>
            <div id="AttachmentAlert">
            {{> AttachmentAlert}}
            </div>
            </div>
        </script>

        <script id="approve-alert-tpl" type="text/x-handlebars-template">                        
            <img src="img/Close.png" onclick="closeAlert(this)" />
            <p>Do you want to approve?</p>
            <p>Comments:</p>  
            <textarea id="comment1" ></textarea>
            <div><input type="button" value="OK" /></div>                     
        </script>

        <script id="reject-alert-tpl" type="text/x-handlebars-template">                        
            <img src="img/Close.png" onclick="closeAlert(this)" />
            <p>Do you want to approve?</p>
            <p>Comments:</p>  
            <textarea id="comment2" ></textarea>
            <div ><input type="button" value="OK" /></div>                     
        </script>

        <script id="attachment-alert-tpl" type="text/x-handlebars-template">                        
            <img src="img/Close.png" onclick="closeAlert(this)" />
            <ul>
            <li>lorem ipsum<form action="" id="form1" ><input type="hidden" value="" id="file-name" ><input type="hidden" value="" id="file-type1" ><a onclick="document.getElementById('form1').submit();" >Download</a></form></li>                                
            <li>lorem ipsum<form action="" id="form2" ><input type="hidden" value="" id="file-name" ><input type="hidden" value="" id="file-type2" ><a onclick="document.getElementById('form2').submit();" >Download</a></form></li>                                
            <li>lorem ipsum<form action="" id="form3" ><input type="hidden" value="" id="file-name" ><input type="hidden" value="" id="file-type3" ><a onclick="document.getElementById('form3').submit();" >Download</a></form></li>                                
            <li>lorem ipsum<form action="" id="form4" ><input type="hidden" value="" id="file-name" ><input type="hidden" value="" id="file-type4" ><a onclick="document.getElementById('form4').submit();" >Download</a></form></li>                                
            <li>lorem ipsum<form action="" id="form5" ><input type="hidden" value="" id="file-name" ><input type="hidden" value="" id="file-type5" ><a onclick="document.getElementById('form5').submit();" >Download</a></form></li>                                
            </ul>                     
        </script>

        <script id="forward-alert-tpl" type="text/x-handlebars-template">
            <!--Forward Alert-->                        
            <img src="img/Close.png" onclick="closeAlert(this);" />
            <form action="" >
            <table cellspacing='0' cellpadding='0'>
            <tr>
            <td>
            Person Name:
            </td>
            <td>
            <select>
            <option value='' >Choose a person...</option>                                        
            <option value='clark' >Clark</option>            
            <option value='marker' >Marker</option>            
            <option value='carl' >Carl</option>            
            <option value='peter' >Peter</option>            
            </select>
            </td>
            </tr>
            </table>
            <div><input type="button" value="Send" /></div>
            </form>                        
            <!--Forward Alert end-->
        </script>

        <script id="header-tpl" type="text/x-handlebars-template">
            <!--header start-->
            <div class="ui-header" id='id-header' >     
            <div class='ui-action-wrapper sliding-effect' id="ActionHeader" >
            <table cellspacing='0' cellpadding='0' >
            <tr>
            <td><input type="button" class="ui-action-button" value="Settings" onclick="location.href = 'List.html'" ></td>
            <td><input type="button" class="ui-action-button" value="Contact Us" onclick="location.href = 'contact.html'" ></td>                            
            </tr>
            <tr>
            <td><input type="button" class="ui-action-button" value="Others" onclick="location.href = 'lineList.html'" ></td>
            <td><input type="button" class="ui-action-button" value="Cancel" onclick="slideUp(document.getElementById('ActionHeader'));" ></td>
            </tr>
            </table>
            </div>
            <a href="#{{back}}"><div id='notification-home-back' class="ui-back-button" value="Back" >Back</div></a>
            <img src="img/actionmenu.png" id="actionIcon" onclick="slideDown(document.getElementById('ActionFooter'))"/ >
            <div class="ui-header-centered-text"><span>{{head}}</span><br/><span>sysadmin</span></div>
            </div>
            <!--header end-->
        </script>

        <script id="footer-tpl" type="text/x-handlebars-template">
            <!--footer start-->
            <div class="ui-footer" id='id-footer'>                                      
            <div class="ui-footer-centered-text">{{foot}}</div>
            </div>
            <!--footer end-->
        </script>

        <script id="action-footer-tpl" type="text/x-handlebars-template">
            <div class="sliding-effect" id="ActionFooter">   
            <div onclick="slideUp(document.getElementById('ActionFooter'));" ></div>
            <table cellspacing='0' cellpadding='0' >
            <tr>
            <td>
            <a><input type="button" value="Forward" onclick="showAlert('ForwardAlert');" /></a> 
            </td>                 
            </tr>
            <tr>
            <td>
            <a><input type="button" value="Approve" onclick="showAlert('ApproveAlert');" /></a>
            </td>
            </tr>
            <tr>
            <td>
            <a><input type="button" value="Reject" onclick="showAlert('RejectAlert');" /></a>
            </td>                    
            </tr>            
            </table>
            </div>

        </script>
        <script src="js/util/Notification.js"></script>
        <script src="js/ActionView.js"></script>
        <script src="js/LoginView.js"></script>
        <script src="js/NotificationsView.js"></script>
        <script src="js/NotificationHeaderView.js"></script>        
        <script src="js/NotificationDetailView.js"></script>        
        <script src="js/main.js"></script>
    </body>
</html>







