/* 
    Document   : style
    Created on : Jul 31, 2013, 8:12:48 AM
    Author     : Hemanth
    Description:
        Purpose of the stylesheet follows.
*/
*{
    margin: 0;
    padding: 0;        
}
html,body{
    height: 100%;
}
body{    
    margin: 0 auto;
    padding: 0;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
}
a{
    text-decoration: none;
}
.ui-screen{
    width: 100%;
    height: auto;    
    float: left;   
    position: relative;         
}
#loginScreen{
    width: 100%;
    position: relative;
    float: left;
}
#loginScreen>div:nth-child(1){
    width: 150px;
    height: 60px;
    background-image: url('../img/anblicks.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px 60px;
    padding-bottom: 8%;  
    padding-top: 10px;
    margin: 0 auto;
}
/*#loginScreen>div:nth-child(1)>img{
    width: 100%;    
}*/
/*form css*/
input[type="text"],input[type="password"]{
    width: 100%;
    height: 20px;
    border: 1px solid #666666;
    float: left;
    font-family: 'Arial';
    font-size: 90%;
    line-height: 20px;
    color: #000000;
    margin-left: 6%; 
}
input[type="text"]:focus{
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.81);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.81);
    box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.81);
}
input[type="password"]:focus{
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.81);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.81);
    box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.81);
}
textarea:focus{
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.81);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.81);
    box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.81);
}
#loginScreen>div:nth-child(2){
    width: 100%;
    float: left;    
}
#loginScreen>div:nth-child(2)>table{
    width: auto;
    border-collapse: collapse;
    margin: 0 auto;
}
#loginScreen>div:nth-child(2)>table tr>td{    
    padding-bottom:  5%;
    width: auto;
}
#loginScreen>div:nth-child(2)>table tr>td>p{
    font-family: 'Arial';
    font-size: 95%;
    color: #000000;        
    text-align: right;    
}
/*login button css*/
#loginScreen>div:nth-child(3){
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
#loginScreen>div:nth-child(3)>div{
    display: table;
    margin: 0 auto;
}
input[type="submit"]{    
    height: 30px;  
    font-family: 'Arial';
    font-size: 95%;
    color: #000000;    
    border: 1px solid #666666;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    line-height: 100%;
    padding: 0 40%;
    -webkit-appearance: none;
    background: rgb(228,245,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}
input[type="button"]:active{
    background: #f2f2f2;
}
input[type="submit"]:active{
    background: #f2f2f2;
}
/*login button css end*/

/*Login page css end*/

/*header css*/
#id-header{
    width: 100%;
    height: 44px;
    background-image:url('../img/headerstrip.png');
    background-repeat: repeat-x;
    border-bottom: 1px solid #cccccc;
    position: relative;
    background-size: 2px 44px;
    position: fixed;
    z-index: 999;
}
#id-header>div:nth-child(1){
    width: 100%;
    height: auto;
    position: absolute;  
    top: 0;
    background: rgb(240,183,161); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,183,161,1)), color-stop(50%,rgba(140,51,16,1)), color-stop(51%,rgba(117,34,1,1)), color-stop(100%,rgba(191,110,78,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
    z-index: 999;    
}
#id-header>div:nth-child(1)>table{
    width: 100%;
    height: 100%;    
}
#id-header>div:nth-child(1)>table tr>td{    
    width: 50%;
    text-align: center;    
}
/*backbutton css*/
#id-header>a>div{             
    width: 67px;
    height: 37px;
    background-image: url('../img/back_notext.png');
    background-repeat: no-repeat;
    background-size: 67px 37px;      
    padding-left: 3px;
    font-family: 'Arial';
    font-size: 95%;
    text-align: center;    
    display: inline;    
    color: #5f6065;
    cursor: pointer;
    float: left;    
    line-height: 37px;
    margin: 4px 0px 0px 5px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
}
#id-header>img{
    height: 37px;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer;
}
/*backbutton css end*/
#id-header>div:nth-child(4){
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Arial';
    text-align: center;
    line-height: 21px;
    color: #ffffff;    
}
#id-header>div:nth-child(4)>span:nth-child(1){
    font-size: 110%;
    font-weight: bold;
    white-space: nowrap;
}
#id-header>div:nth-child(4)>span:nth-child(2){
    font-size: 90%;
}
/*header css end*/

/*notification content css start*/
#content-notify{
    width: 100%;
    float: left;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 44px;
    z-index: 888;
}
#content-notify>div{
    width: 100%;
    float: left;
    padding-top: 6px;
}
/*grid css start*/
#content-notify>div>ul{
    width: 95%;   
    margin: 0 auto;
}
#content-notify>div>ul>li{      
    float: left;
    list-style: none;
    margin:  15px 15px;  
    cursor: pointer;    
}
#content-notify>div>ul>li>a>div{
    width: 120px;
    height: 130px;    
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center top;
}
#content-notify>div>ul>li:nth-child(1)>a>div{
    background-image: url('../img/approvals.png');    
}
#content-notify>div>ul>li:nth-child(2)>a>div{
    background-image: url('../img/expenses.png');    
}
#content-notify>div>ul>li:nth-child(3)>a>div{
    background-image: url('../img/settings.png');    
}
#content-notify>div>ul>li:nth-child(4)>a>div{
    background-image: url('../img/timesheet.png');    
}
#content-notify>div>ul>li>a>div:active{
    -webkit-box-shadow: 0px 5px 8px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:    0px 5px 8px rgba(50, 50, 50, 0.67);
    box-shadow:         0px 5px 8px rgba(50, 50, 50, 0.67);
}
#content-notify>div>ul>li>a>div>div:nth-child(2){
    width: 120px;
    height: 130px;
    font-family: 'Arial';
    font-size: 100%;
    text-align: center;
    color: #000000;
    line-height: 123%;    
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;    
}
#content-notify>div>ul>li>a>div>div:nth-child(1){
    width: 25px;
    height: 25px;
    border:2px solid #ffffff;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: red;
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.81);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.81);
    box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.81);
    font-family: 'Arial';
    font-size: 80%;
    text-align: center;
    color: #ffffff;
    line-height: 25px;    
    font-weight: bold;
}
/*grid css end*/

/*notification content css end*/
/*list content css start*/
/*#content-list{
    width: 100%;
    float: left;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#content-list>div{
    width: 100%;
    float: left;
    position: relative;        
}
#content-list>div>ul{
    width: 100%;
}
#content-list>div>ul>li{
    width: 100%;
    height: auto;    
    cursor: pointer;    
    list-style: none;
    position: relative;
}
#content-list>div>ul>li>a>div{
    width: 41px;
    height: 50px;
    background-image: url('../img/arrow_right.png');
    background-size: 35px 35px;   
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;        
    right: 5px;
    z-index: 1;
    cursor: pointer;
}
#content-list>div>ul>li>table{
    width: 100%;
    height: 50px;
    border-collapse: collapse;
    background: rgb(255,255,255);  Old browsers 
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);  IE10+ 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );     
}
#content-list>div>ul>li>table:active{
    background: #c2c2c2;
}
#content-list>div>ul>li>table tr td{
    width: 50%;
    height: 50%;
    font-family: 'Arial';
    font-size: 80%;
    text-align: center;
    color: #888888;
}
table tr td span{
    font-weight: bold;
}
#content-list>div>ul>li>table tr>td:nth-child(1){
    padding-left: 15px;
    text-align: left;
}
#content-list>div>ul>li>table tr>td:nth-child(2){
    padding-right: 50px;
    text-align: right;
}*/
/*list content css end*/
/*footer css start*/
#id-footer{
    width: 100%;
    height: 40px;
    background: rgb(206,219,233); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,219,233,1)), color-stop(17%,rgba(170,197,222,1)), color-stop(50%,rgba(97,153,199,1)), color-stop(51%,rgba(58,132,195,1)), color-stop(59%,rgba(65,154,214,1)), color-stop(71%,rgba(75,184,240,1)), color-stop(84%,rgba(58,139,194,1)), color-stop(100%,rgba(38,85,139,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */   
    float: left;    
    position: relative;
}
#id-footer>div{
    width: 100px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Arial';
    font-size: 95%;
    text-align: center;
    line-height: 40px;
    color: #ffffff;    
}
/*footer css send*/
#content-details{
    width: 100%;
    float: left;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#content-details>div:nth-child(1){
    width: 100%;
    float: left;
    position: relative;
}
#content-details>div:nth-child(1)>table{
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #c2c2c2;
}
#content-details>div:nth-child(1)>table tr td{    
    height: 50%;
    font-family: 'Arial';
    font-size: 80%;    
    color: #888888;
    padding: 5px 0;
}
#content-details>div:nth-child(1)>table tr td:nth-child(1){
    width: 40%;
    text-align: right;
}
#content-details>div:nth-child(1)>table tr td:nth-child(2){
    width: 15%;
}
#content-details>div:nth-child(1)>table tr td:nth-child(3){
    width: 45%;    
    text-align: left;
    font-weight: bold;
}
#content-details>div:nth-child(1)>table:nth-child(2n){
    width: 100%;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );     
}
#content-details>div:nth-child(1)>table:nth-child(2n) td{
    width: 50% !important;
    text-align: center !important;    
}
#content-details>div:nth-child(1)>div:nth-child(2){
    width: 100%;
    height: 20px;
    font-family: 'Arial';
    font-size: 100%;
    line-height: 20px;
    color: #000000;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );         
    text-align: center;
    position: relative;
    padding: 15px 0px;
}
#content-details>div:nth-child(1)>div:nth-child(2)>div{
    background-image: url("../img/add-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 5px;
    top: 0;
    width: 41px;
    z-index: 1;
}
#content-details>div:nth-child(1)>div:nth-child(3){
    width: 100%;    
    border-top: 1px solid #c2c2c2;
    background: #f2f2f2;
}
#content-details>div:nth-child(1)>div:nth-child(3)>table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 0;    
    background: none;
    table-layout: fixed;
}
#content-details>div:nth-child(1)>div:nth-child(3)>table tr>td{
    width: 33%;
    padding: 5px 0;
    font-family: 'Arial';
    font-size: 80%;
    text-align: center;
    color: #888888;
    font-weight: normal !important;
}
#content-details>div:nth-child(1)>div:nth-child(3)>table tr>td:nth-child(1){
    text-align: right;
    width: 40%;
    font-weight: bold;
}
#content-details>div:nth-child(1)>div:nth-child(3)>table tr>td:nth-child(2){
    width: 15%;
}
#content-details>div:nth-child(1)>div:nth-child(3)>table tr>td:nth-child(3){
    text-align: left;
    width: 45%;
    font-weight: bold !important;
}
.ui-list-details table tr td p{
    width: 63%;
    text-align: right;
}
.sliding-effect
{
    -webkit-transition-property:max-height;
    -webkit-transition-duration:0.8s;
    -webkit-transition-timing-function:ease-in-out;
    transition-property:max-height;
    transition-duration:0.8s;
    transition-timing-function:ease-in-out;
    max-height:     0;
    overflow:       hidden;
}
/*Action Footer*/
#ActionFooter{
    width: 100%;
    background: rgb(197,222,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
    position: fixed;
    bottom: 0;    
    z-index: 1;    
}
#ActionFooter>div{
    width: 35px;
    height: 35px;
    background-image: url('../img/down.png');
    background-size: 35px 35px;   
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute; 
    right: 5px;
    top: 5px;    
    z-index: 1;
    cursor: pointer;
}
#ActionFooter>div:active{
    background-color: #c2c2c2;
}
#ActionFooter>table{
    width: 100%;   
}
#ActionFooter>table tr>td{
    width: 100%;
    list-style: none;
    float: left;    
    text-align: center;
}
#ActionFooter>table tr>td>a>input{
    height: 30px;
    padding: 0 20%;
    font-family: 'Arial';
    font-size: 95%;
    color: #000000;    
    border: 1px solid #666666;    
    cursor: pointer;
    line-height: 95%;    
    margin: 10px auto;
    background: rgb(228,245,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}
/*Action Footer end*/
/*popup*/
#popup-bckgrnd{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(0,0,0,0.4);
    z-index: 999; 
    display: none;
    opacity: 0;
    transition: opacity 1s ease-out;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-out;    
    -webkit-transition: opacity 1s ease-in;    
}
#popup-bckgrnd>div{
    width: 80%;
    height: auto;
    position: relative;    
    margin: 0 auto;  
    font-family: 'Arial';
    font-size: 100%;
    color: #ffffff;
    display: none;
    text-align: center;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c2c2c2;
}
#popup-bckgrnd>div>img{
    height: 24px;
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
}
#popup-bckgrnd>div>form>table{
    width: 90%;
    padding: 20px 0px;
}
#popup-bckgrnd>div>form>table tr>td{    
    font-family: 'Arial';
    font-size: 100%;
    text-align: right;
    color: #000000;
}
#popup-bckgrnd>div>form>table tr>td:nth-child(1){
    width: 50%;
}
#popup-bckgrnd>div>form>table tr>td:nth-child(2){
    width: 50%;
}
#popup-bckgrnd>div>form>table tr>td:nth-child(2)>select{
    width: 100%;
    height: 20px;
    border: 1px solid #666666;
    float: left;
    font-family: 'Arial';
    font-size: 90%;
    line-height: 20px;
    color: #000000;
    margin-left: 6%;
}
#popup-bckgrnd>div>form>div,#popup-bckgrnd>div:nth-child(1)>div,#popup-bckgrnd>div:nth-child(3)>div,#popup-bckgrnd>div:nth-child(4)>div{
    width: 100%;    
    text-align: center;
}
#popup-bckgrnd>div>form>div>input,#popup-bckgrnd>div:nth-child(1)>div>input,#popup-bckgrnd>div:nth-child(3)>div>input,#popup-bckgrnd>div:nth-child(4)>div>input{
    height: 30px;  
    font-family: 'Arial';
    font-size: 95%;
    color: #000000;    
    border: 1px solid #666666;    
    cursor: pointer;
    line-height: 100%;
    padding: 0 20%;
    margin: 10px 0px;
    background: rgb(228,245,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}
#popup-bckgrnd>div>p:nth-child(2){   
    border-bottom: 1px solid #000000;
    padding: 10px 0px;
    text-align: center;
    float: left;
    width: 100%;
}
#popup-bckgrnd>div>p:nth-child(3){
    width: 95%;
    float: left;
    padding:10px;
    text-align: left;
}
#popup-bckgrnd>div>textarea:nth-child(4){
    width: 80%;
    height: 150px;
    margin: 0 auto;
}
#popup-bckgrnd>div:nth-child(4)>ul{
    width: 90%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid #c2c2c2;
    padding: 0;
}
#popup-bckgrnd>div:nth-child(4)>ul>li{
    height:  auto;
    padding: 5px 10px;
    border-bottom: 1px solid #c2c2c2;
    font-family: 'Arial';
    font-size: 100%;
    color: #000000;
    list-style: none;
    text-align: left;
}
#popup-bckgrnd>div:nth-child(4)>ul>li:last-child{
    border-bottom: 0;
}
#popup-bckgrnd>div:nth-child(4)>ul>li>form>a{
    padding-left: 5px;
    text-decoration: underline;
    color: #3399cc;
}
.ui-popup-show{
    display: block !important;
    opacity: 1  !important;
}
.scroll{
    overflow: scroll;
    -webkit-overflow-scrolling : touch;
    position: absolute;
    top: 84px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.page{
    position: absolute;
    width: 100%;    
    background-image: url('../img/bg.png');
    background-repeat: repeat;    
}

.stage-center{
    top: 0;
    left: 0;
}

.stage-left{
    left: -100%;
}

.stage-right{
    left: 100%;
}

.transition{
    -moz-transition-duration: .100s;
    -webkit-transition-duration: .100s;
    -o-transition-duration: .100s;
}

/*Extra*/
.ui-message-text{
    width: 100%;
    height: 60px;
    border: 1px solid #666666;
    float: left;
    font-family: 'Arial';
    font-size: 90%;
    line-height: 20px;
    color: #000000;
    margin-left: 6%;
}
#content-list>div>*{
    -webkit-transform: translateZ(0px);
}
#content-list>div>table:nth-child(1){
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #c2c2c2;
}
/*Expand button css start*/
.ui-expand{
    width: 100%;
    height: 25px;
    font-family: 'Arial';
    font-size: 100%;
    text-align: center;
    color: #ffffff;
    line-height: 25px;
    background: #DA4D4D;
    cursor: pointer;
    border-bottom: 1px solid #666666;
}
.ui-expand:active{
    background: #B24DDA;
}
/*expand button css end*/
/*contact Form*/
.ui-contact-heading{
    width: 100%;    
    font-family: 'Arial';
    font-size: 100%;
    text-align: center;
    color: #ffffff;
    padding: 10px 0px;
}
.ui-contact-form-buttons{
    width: 100%;
    float: left;
}
.ui-button-wrapper{
    width: 50%;
    float: left;    
    text-align: center;
    margin: 1% 0px 3% 0px;
}
/*clear button css start*/
.ui-clear-button{
    padding: 0 5%;
    height: 30px;  
    font-family: 'Arial';
    font-size: 95%;
    color: #000000;    
    border: 1px solid #666666;    
    cursor: pointer;
    line-height: 95%;    
    margin: 0 auto;  
    background: rgb(184,198,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(184,198,223,1) 0%, rgba(109,136,183,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,198,223,1)), color-stop(100%,rgba(109,136,183,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 ); /* IE6-9 */
}
.ui-send-button{
    margin: 0 auto !important;
    padding: 0 5% !important;       
}
/*contact form end*/
.ui-distribution-button{
    width: 100% !important;
}
.ui-details-heading{
    width: 100%;
    font-family: 'Arial';
    font-size: 90%;
    line-height: 20px;
    color: #000000;
    margin: 5px 0;
    font-weight: bold;
    text-align: center;
}
/*New Header List start*/
#header-list{
    width: 100%;
    float: left;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 44px;
}
#header-list>div{
    width: 100%;
    float: left;
    position: relative;      
}
#header-list>div>ul{
    width: 100%;
}
#header-list>div>ul>li{
    width: 100%;
    height: 60px;    
    position: relative;
    list-style: none;
    position: relative;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    font-family: 'arial';
    color: #848482;
    font-size: 100%;    
    padding-bottom: 3px;
}
#header-list>div>ul>li>a{
    width: 100%;    
}
#header-list>div>ul>li>a>table{
    width: 100%;
    height: 100%;    
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
}
#header-list>div>ul>li>a>table tr>td:nth-child(1){
    width: 57.5%;
}
#header-list>div>ul>li>a>table tr>td:nth-child(2){
    width: 35.5%;
}
/*#header-list>div>ul>li>a>table tr>td{
    width: 48.5%;
}*/
#header-list>div>ul>li>a>table tr>td:nth-child(1){    
    height: 100%;       
    padding-left: 2%;
}
#header-list>div>ul>li>a>table tr>td:nth-child(1)>table{
    width: 100%;
    table-layout: fixed;
}
#header-list>div>ul>li>a>table tr>td:nth-child(1)>table tr>td{
    height: 50%;
    text-align: left;    
}
#header-list>div>ul>li>a>table tr>td:nth-child(1)>table tr:nth-child(2)>td{
    padding-top: 5px; 
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 80%;
    color: #848482;
}
#header-list>div>ul>li>a>table tr>td:nth-child(1)>table tr:nth-child(1)>td{
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000000;
    white-space: nowrap;
    display: block;
    width: 100%;
}
#header-list>div>ul>li>a>table tr>td:nth-child(1)>table tr:nth-child(1)>td>span:nth-child(1){
    font-weight: bold;           
}
#header-list>div>ul>li>a>table tr>td:nth-child(2){    
    padding-right: 1%;
}
#header-list>div>ul>li>a>table tr>td:nth-child(2)>div{
    float: right;
    margin-top: 21px;
}
#header-list>div>ul>li>a>table tr>td:nth-child(2)>div>img{
    height: 12px;    
}
#header-list>div>ul>li>a>table tr>td:nth-child(2)>ul{
    width: auto;
    float: right;
    text-align: right;    
    font-size: 80%;
    padding-right: 2%;
}
#header-list>div>ul>li>a>table tr>td:nth-child(2)>ul>li{
    list-style: none;
}
#header-list>div>ul>li>a>table tr>td:nth-child(2)>ul>li:nth-child(1){
    color: #c2c2c2;    
}
#header-list>div>ul>li>a>table tr>td:nth-child(2)>ul>li:nth-child(2){
    font-weight: bold;    
    font-size: 18px;
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #848482;
    font-size: 150%;
}
#header-list>div>ul>li>a>table tr>td:nth-child(2)>ul>li:nth-child(3){    
    font-size: 125%;
    text-transform: lowercase;
    line-height: 6px;
}
.open-status{
    color: #0000ff;
}
.close-status{
    color: #FF0000;
}
.inprogress-status{
    color: #00FF00;
}
/*New Header List end*/
/*list details tab start*/
#header-details{
    width: 100%;
    height: auto;
    float: left;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    padding-top: 5px;    
    top: 44px;
    position: relative;
}
#header-details>div:nth-child(1){
    height: 30px;
    width: 100%;
}
#header-details>div:nth-child(2){
    height: 20px;
    width: 100%;            
}
#header-details>div:nth-child(2)>span:nth-child(1){
    font-family: 'Arial';
    font-size: 110%;
    line-height: 95%;
    font-weight: bold;
    padding-left: 19px;
    color: #c2c2c2;
}
#header-details>div:nth-child(2)>span:nth-child(2){
    text-align: left;    
    font-size: 100%;
    color: #c2c2c2;
    float: right; 
    font-weight: normal;
    padding-right: 19px;
    font-family: 'Arial';
}
#header-details>div:nth-child(1){
    padding-top: 5px;
}
#header-details>div:nth-child(1)>p{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-family: 'Arial';
    float: left;
}
#header-details>div:nth-child(1)>p:nth-child(1){
    font-size: 100%;
    color: #3399cc;
    text-align: left;
    padding-left: 19px;
    float: left;
}
#header-details>div:nth-child(1)>p:nth-child(2){
    font-size: 130%;
    color: #000000;
    font-weight: bold;
    text-align: right;
    padding-right: 19px;
    float: right;
}
#header-details>div:nth-child(1)>p:nth-child(2)>span{
    font-size: 56%;
    font-weight: normal;
    display: block;
    line-height: 10px;
}
#header-details>div:nth-child(3){
    height: 32px;    
    padding: 5px 0px 10px 0px;
    width: 99%;
}
#header-details>div:nth-child(3)>ul{
    list-style-type: none;    
    width: auto;
    height: 100%;
    float: left;
    white-space: nowrap;    
    padding-left: 13px;
}
#header-details>div:nth-child(3)>ul>li{
    display: inline-block;      
    width: 32px;
    height: 32px;    
    border-radius: 22px;
    margin:  0 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: #ffffff;
    font-size: 100%;
    line-height: 31.5px;
    text-align: center;
}
#header-details>div:nth-child(3)>ul>li:nth-child(1){    
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#header-details>div:nth-child(3)>ul>li:nth-child(2){
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#header-details>div:nth-child(3)>ul>li:nth-child(3){
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#header-details>div:nth-child(3)>ul>li:nth-child(4){
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#header-details>div:nth-child(3)>div:nth-child(2){
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}
#header-details>div:nth-child(3)>div:nth-child(2)>a>img{
    height: 26px;
}
#header-details>div:nth-child(4){
    width: 100%;
    float: left;
    height: auto;
}
.details {
    width: 100%;
    position: relative;
    background: #88b7d5;
    display: none;
}
.details:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#list-items:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;    
    margin-left: 24px;
}
#list-items{
    padding: 10px 0;
    height: auto;
}
#list-items>div{
    width: 100%;
}
#list-items>div>table{
    width: 90%;
    background: #3399cc;
    margin: 0 auto;
    padding:  10px 0;
    color: #ffffff;
    text-align: center;
    font-family: 'Arial';
    font-size: 95%;
}
#list-items>div>table tr>td:nth-child(1),#list-items>ul>li>table tr>td:nth-child(1) {
    width: 15%;
}
#list-items>div>table tr>td:nth-child(2),#list-items>ul>li>table tr>td:nth-child(2){
    width: 25%;
}
#list-items>div>table tr>td:nth-child(3),#list-items>ul>li>table tr>td:nth-child(3){
    width: 25%;
}
#list-items>div>table tr>td:nth-child(4),#list-items>ul>li>table tr>td:nth-child(4){
    width: 35%;
}
#list-items>ul{
    width: 100%;    
}
#list-items>ul>li{
    list-style: none;
    width: 90%;    
    margin: 0 auto;   
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
#list-items>ul>li:nth-child(1){
    border-top: 0;
}
#list-items>ul>li>table{
    width: 100%;
    height: 20px;    
    border-bottom: 1px solid #c2c2c2;
    padding:  10px 0;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
#list-items>ul>li>table tr>td{    
    height: 50%;    
    font-family: 'Arial';
    font-size: 90%;
    color: #000000;
    text-align: center;
}
#list-items>ul>li>div{
    width: 94%;
    height: auto;        
    padding:0 1% 0 5%;   
    margin: 0 auto;
    /*display: none;*/
}
#list-items>ul>li>div>ul{
    width: 100%;    
}
#list-items>ul>li>div>ul>li{
    padding: 5px 0;
    font-family: 'Arial';
    font-size: 90%;
    color: #5F6065;
    text-align: left;
    list-style: none;
}
#list-items>ul>li>div>ul>li>span{
    display: inline;
}
#list-items>ul>li>div>ul>li>span:nth-child(2){
    font-weight: bold;
}
#information{
    height: auto;
    padding: 10px 0;
}
#information:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;    
    margin-left: 69px;
}
#information>div,#distributions>div,#history>div{
    width: 94%;
    height: auto;       
    margin: 0 auto;      
}
#information>div>ul,#distributions>div>ul,#history>div>ul{
    width: 100%;
}
#information>div>ul>li,#distributions>div>ul>li{
    width: 100%;
    padding: 5px 0;
    font-family: 'Arial';
    font-size: 90%;
    color: #ffffff;
    text-align: left;
    list-style: none;
}
#information>div>ul>li>span,#distributions>div>ul>li>span{
    display: block;
}
#information>div>ul>li>span:nth-child(2),#distributions>div>ul>li>span:nth-child(2){
    font-weight: bold;
}
#distributions:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;    
    margin-left: 115px;
}
#distributions{
    height: auto;
    padding: 10px 0;
}
#history:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;    
    margin-left: 162px;
}
#history{
    height: auto;
    padding: 10px 0;
}
#history>div>ul>li{
    width: 100%;    
    font-family: 'Arial';
    font-size: 90%;
    color: #ffffff;
    text-align: left;
    list-style: none;
}
#history>div>ul>li>table{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    color: #000000;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    padding: 5px 0;
    font-size: 90%;
}
#history>div>ul>li>table{

}
.show{
    display: block;
}
/*list details tab end*/